body {
  background-color: #000000;
  background-image: radial-gradient(
    circle at center,
    #333,
    #333 50%,
    rgba(238, 238, 238, 0.501) 75%,
    #333 75%
  );
  overflow-x: hidden;
  font-family: "Gowun Batang", serif;
}
